<div class="container">
    <button type="button" (click)="getCustomers()"> get data</button>

<table style="width:100%">
    <thead>
        <tr>
            <th>Loan Id</th>
            <th>CustomerId</th>
            <th>CustomerName</th>
            <th>Address</th>
            <th>PanNo</th>
        
        </tr>
    
        <tr *ngFor="let l of lo">
            <td><a [routerLink]="['/loan',l.loanId]">{{l.loanId}}</a></td>
            <!-- <td>hello</td> -->
            <td>{{l.customer.customerId}}</td>
            <td>{{l.customer.customerName}}</td>
            <td>{{l.customer.address}}</td>
            <td>{{l.customer.pan}}</td>
            
        </tr>
    </thead>
    <!-- class="table table-striped"  -->
</table>

</div>